<% content_for :body do %>

    <div id="wrapper" class="transitions-enabled infinite-scroll clearfix">
      <div id="list" style="padding-top:10px;">
        <div class="th item"> <img src="/assets/big_IMG_0011.jpg">  <p>Giant TCR 1</p> <p>$1,000</p></div>
        <div class="th item"> <img src="/assets/1.jpg"> <p>Sun Oº rim laced to a...</p><p>$70</p></div>
        <div class="th item"> <img src="/assets/masonry_items_003.jpg"> <p>Bamboo Cycle zenawesome </p><p>$904.00</p></div>
        <div class="th item"> <img src="/assets/masonry_items_006.jpg"> <p>Premium brass bell..</p> <p>$35</p></div>
        <div class="th item"> <img src="/assets/masonry_items_002.jpg">  <p>Multi-tool pack..</p><p>$85</p></div>
        <div class="th item"> <img src="/assets/card-wallet.jpg">  <p>Stellar Bags - Reclaim..</p><p>$95</p></div>
        <div class="th item"> <img src="/assets/Picture_1.jpg"> <p>T-001</p><p>$27</p> </div>
        <div class="th item"> <img src="/assets/craig1.jpg"> <p>S-Works FSR Carbon E...</p> <p>$2,000</p></div>


      </div>
      <nav id="page-nav">
        <a href="../pages/2.html"></a>
      </nav>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
<% end %>