<% content_for :body do %>
<div class="template template-home" id="current_template">
    <!--<div class="wrapper">-->
      <!--<div class="row">-->

        <!--<div class="small-2 large-6 columns">-->
          <!--<div class="row">-->
            <!--<div class="small-2 large-12 columns">-->
                <!--<div class="itemwrapper">-->
                  <!--<img src="/assets/bikes/medium1.jpg">-->
                  <!--<div class="shoptag">-->
                    <!--Shop Bikes-->
                  <!--</div>-->
                <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="row">-->
            <!--<div class="small-2 large-6 columns">-->
              <!--<div class="itemwrapper">-->
                <!--<img src="/assets/parts/small2.jpg">-->
                <!--<div class="shoptag">-->
                  <!--Shop Parts-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="small-2 large-6 columns">-->
                <!--<div class="itemwrapper">-->
                  <!--<img src="/assets/clothes/small3.jpg">-->
                  <!--<div class="shoptag">-->
                    <!--Shop Clothes-->
                  <!--</div>-->
                <!--</div>-->

                <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="small-2 large-6 columns">-->
          <!--<div class="itemwrapper">-->
            <!--<div class="brownbox">Hello</div>-->
          <!--</div>-->
        <!--</div>-->

      <!--</div>-->
    <!--</div>-->



        <div class="row">
          <div class="small-2 large-6 columns">
            <div class="itemwrapper">
              <img src="/assets/bikes/medium1.jpg">
              <div class="shoptag link-bikes">
                  Shop Bikes
              </div>
            </div>
          </div>
          <div class="small-6 large-6 columns">
            <div class="itemwrapper">
            <div class="brownbox"><p>Pedalr is a <strong>purveyor</strong> of cycling products.</p>
              <br/><br/><br/><p>Here you will find only the <strong>best.</strong></p>
              </div>
            </div>
          </div>
          <div class="small-6 large-3 columns">
            <div class="itemwrapper">
            <img src="/assets/parts/small2.jpg">
              <div class="shoptag link-parts">
                Shop Parts
              </div>
            </div>
          </div>
          <div class="relative small-6 large-6 columns">
            <div class="itemwrapper">
              <img src="/assets/accessories/medium1.jpg">
              <div class="shoptag link-accessories">
                Shop Accessories
              </div>
            </div>
          </div>
          <div class="relative small-6 large-3 columns">
            <div class="itemwrapper">
            <img src="/assets/clothes/small3.jpg">
              <div class="shoptag link-clothes">
                Shop Clothes
              </div>
            </div>
          </div>
        </div>

    </div>
</div>



    <div class="template template-bikes" >
      <div class="wrapper">

        <div class="row">
          <div class="small-2 large-6 columns">
            <div class="itemwrapper">
              <img src="/assets/bikes/medium1.jpg">
              <div class="buytag">
                <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop4"></span></a><br>
                <ul id="drop4" class="f-dropdown" data-dropdown-content>
                  <li><a href="#">+ Favorite</a></li>
                  <li><a href="#">More like this</a></li>
                  <li><a href="#">Remove</a></li>
                </ul>
              </div>
              Redline Conquest Pro CX - $1,000
            </div>
          </div>
          <div class="small-6 large-3 columns">
            <div class="itemwrapper">
              <img src="/assets/bikes/small1.jpg">
              <div class="buytag">
                <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop5"></span></a><br>
                <ul id="drop5" class="f-dropdown" data-dropdown-content>
                  <li><a href="#">+ Favorite</a></li>
                  <li><a href="#">More like this</a></li>
                  <li><a href="#">Remove</a></li>
                </ul>
              </div>
              Schwinn Varsity Single...$70
            </div>
          </div>
          <div class="relative small-6 large-3 columns">
            <div class="itemwrapper">
              <img src="/assets/bikes/small3.jpg">
              <div class="buytag">
                <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop6"></span></a><br>
                <ul id="drop6" class="f-dropdown" data-dropdown-content>
                  <li><a href="#">+ Favorite</a></li>
                  <li><a href="#">More like this</a></li>
                  <li><a href="#">Remove</a></li>
                </ul>
              </div>
              BlueStar 3 Speed Townie... $140
            </div>
          </div>
          <div class="relative small-6 large-3 columns">
            <div class="itemwrapper">
              <img src="/assets/bikes/small4.jpg">
              <div class="buytag">
                <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop7"></span></a><br>
                <ul id="drop7" class="f-dropdown" data-dropdown-content>
                  <li><a href="#">+ Favorite</a></li>
                  <li><a href="#">More like this</a></li>
                  <li><a href="#">Remove</a></li>
                </ul>
              </div>
              Andy Gilmour Custom - $1,500
            </div>
          </div>
          <div class="relative small-6 large-6 columns">
            <div class="itemwrapper">
              <img src="/assets/bikes/medium2.jpg">
              <div class="buytag">
                <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop8"></span></a><br>
                <ul id="drop8" class="f-dropdown" data-dropdown-content>
                  <li><a href="#">+ Favorite</a></li>
                  <li><a href="#">More like this</a></li>
                  <li><a href="#">Remove</a></li>
                </ul>
              </div>
              Yellow 70s Raleigh Sprite - $200
            </div>
          </div>
          <div class="relative small-6 large-3 columns">
            <div class="itemwrapper">
              <img src="/assets/bikes/small2.jpg">
              <div class="buytag">
                <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop9"></span></a><br>
                <ul id="drop9" class="f-dropdown" data-dropdown-content>
                  <li><a href="#">+ Favorite</a></li>
                  <li><a href="#">More like this</a></li>
                  <li><a href="#">Remove</a></li>
                </ul>
              </div>
              Old Steel Bauer Single... - $300
            </div>
          </div>
        </div>

      </div>
    </div>




    <div class="template template-clothes" >
      <div class="wrapper">
        <div class="row">
          <div class="small-2 large-6 columns">
            <div class="itemwrapper">
              <img src="/assets/clothes/medium1.jpg">
              <div class="buytag">
                <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop10"></span></a><br>
                <ul id="drop10" class="f-dropdown" data-dropdown-content>
                  <li><a href="#">+ Favorite</a></li>
                  <li><a href="#">More like this</a></li>
                  <li><a href="#">Remove</a></li>
                </ul>
              </div>
              give a hoot - $18.99
            </div>
          </div>
          <div class="small-6 large-3 columns">
            <div class="itemwrapper">
              <img src="/assets/clothes/small2.jpg">
              <div class="buytag">
                <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop11"></span></a><br>
                <ul id="drop11" class="f-dropdown" data-dropdown-content>
                  <li><a href="#">+ Favorite</a></li>
                  <li><a href="#">More like this</a></li>
                  <li><a href="#">Remove</a></li>
                </ul>
              </div>
              Addict T-Shirt - $24
            </div>
          </div>
          <div class="small-6 large-3 columns">
            <div class="itemwrapper">
              <img src="/assets/clothes/small1.png">
              <div class="buytag">
                <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop12"></span></a><br>
                <ul id="drop12" class="f-dropdown" data-dropdown-content>
                  <li><a href="#">+ Favorite</a></li>
                  <li><a href="#">More like this</a></li>
                  <li><a href="#">Remove</a></li>
                </ul>
              </div>
              T-001 - $27
            </div>
          </div>
          <div class="small-6 large-3 columns">
            <div class="itemwrapper">
              <img src="/assets/clothes/small3.jpg">
              <div class="buytag">
                <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop13"></span></a><br>
                <ul id="drop13" class="f-dropdown" data-dropdown-content>
                  <li><a href="#">+ Favorite</a></li>
                  <li><a href="#">More like this</a></li>
                  <li><a href="#">Remove</a></li>
                </ul>
              </div>
              T-shirts - $20
            </div>
          </div>
          <div class="small-6 large-3 columns">
            <div class="itemwrapper">
              <img src="/assets/clothes/small4.jpg">
              <div class="buytag">
                <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop14"></span></a><br>
                <ul id="drop14" class="f-dropdown" data-dropdown-content>
                  <li><a href="#">+ Favorite</a></li>
                  <li><a href="#">More like this</a></li>
                  <li><a href="#">Remove</a></li>
                </ul>
              </div>
              Merckx T-Shirt - $24
            </div>
          </div>
          <div class="small-6 large-3 columns">
            <div class="itemwrapper">
              <img src="/assets/clothes/small5.jpg">
              <div class="buytag">
                <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop15"></span></a><br>
                <ul id="drop15" class="f-dropdown" data-dropdown-content>
                  <li><a href="#">+ Favorite</a></li>
                  <li><a href="#">More like this</a></li>
                  <li><a href="#">Remove</a></li>
                </ul>
              </div>
              Soil Saloon T-shirt - $15
            </div>
          </div>
          <div class="small-6 large-3 columns">
            <div class="itemwrapper">
              <img src="/assets/clothes/small6.jpg">
              <div class="buytag">
                <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop16"></span></a><br>
                <ul id="drop16" class="f-dropdown" data-dropdown-content>
                  <li><a href="#">+ Favorite</a></li>
                  <li><a href="#">More like this</a></li>
                  <li><a href="#">Remove</a></li>
                </ul>
              </div>
              "I'm Traffic Too" tee - $25
            </div>
          </div>
          <div class="small-6 large-6 columns">
            <div class="itemwrapper">
              <img src="/assets/clothes/medium2.jpg">
              <div class="buytag">
                <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop17"></span></a><br>
                <ul id="drop17" class="f-dropdown" data-dropdown-content>
                  <li><a href="#">+ Favorite</a></li>
                  <li><a href="#">More like this</a></li>
                  <li><a href="#">Remove</a></li>
                </ul>
              </div>
              Off the chain － $30
            </div>
          </div>
          <div class="small-6 large-3 columns">
            <div class="itemwrapper">
              <img src="/assets/clothes/small7.jpg">
              <div class="buytag">
                <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop18"></span></a><br>
                <ul id="drop18" class="f-dropdown" data-dropdown-content>
                  <li><a href="#">+ Favorite</a></li>
                  <li><a href="#">More like this</a></li>
                  <li><a href="#">Remove</a></li>
                </ul>
              </div>
              Alpe D'Huez T-Shirt － $24
            </div>
          </div>
          <div class="small-6 large-3 columns">
            <div class="itemwrapper">
              <img src="/assets/clothes/small8.jpg">
              <div class="buytag">
                <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop20"></span></a><br>
                <ul id="drop20" class="f-dropdown" data-dropdown-content>
                  <li><a href="#">+ Favorite</a></li>
                  <li><a href="#">More like this</a></li>
                  <li><a href="#">Remove</a></li>
                </ul>
              </div>
              cure all － $18.99
            </div>
          </div>

        </div>


      </div>
    </div>




    <div class="template template-accessories" >
      <div class="wrapper">
        <div class="row">
          <div class="small-2 large-6 columns">
            <div class="itemwrapper">
              <img src="/assets/accessories/medium1.jpg">
              <div class="buytag">
                <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop21"></span></a><br>
                <ul id="drop21" class="f-dropdown" data-dropdown-content>
                  <li><a href="#">+ Favorite</a></li>
                  <li><a href="#">More like this</a></li>
                  <li><a href="#">Remove</a></li>
                </ul>
              </div>
              Black Skull Cog － $4.95
            </div>
          </div>
          <div class="small-6 large-3 columns">
            <div class="itemwrapper">
              <img src="/assets/accessories/small2.jpg">
              <div class="buytag">
                <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop22"></span></a><br>
                <ul id="drop22" class="f-dropdown" data-dropdown-content>
                  <li><a href="#">+ Favorite</a></li>
                  <li><a href="#">More like this</a></li>
                  <li><a href="#">Remove</a></li>
                </ul>
              </div>
              Red Star Reflective － $4.95
            </div>
          </div>
          <div class="relative small-6 large-3 columns">
            <div class="itemwrapper">
              <img src="/assets/accessories/small1.jpg">
              <div class="buytag">
                <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop23"></span></a><br>
                <ul id="drop23" class="f-dropdown" data-dropdown-content>
                  <li><a href="#">+ Favorite</a></li>
                  <li><a href="#">More like this</a></li>
                  <li><a href="#">Remove</a></li>
                </ul>
              </div>
            </div>
            Bike Poster - $20
          </div>
        </div>


      </div>
    </div>





    <div class="template template-market" >
      <div class="wrapper">
        <div class="small-2 large-9 large-centered columns">
          Coming Soon....
        </div>



      </div>
    </div>

    <div class="template template-join" >
      <div class="wrapper">
        <div class="small-2 large-9 large-centered columns">
          Coming Soon....
        </div>



      </div>
    </div>


    <div class="template template-parts" >
      <div class="wrapper">
        <div class="row">
          <div class="small-2 large-6 columns">
            <div class="itemwrapper">
              <img src="/assets/parts/medium1.jpg">
              <div class="buytag">
                <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop24"></span></a><br>
                <ul id="drop24" class="f-dropdown" data-dropdown-content>
                  <li><a href="#">+ Favorite</a></li>
                  <li><a href="#">More like this</a></li>
                  <li><a href="#">Remove</a></li>
                </ul>
              </div>
              TIME RXS Carbon pedals - $150
            </div>
          </div>
          <div class="small-6 large-3 columns">
            <div class="itemwrapper">
              <img src="/assets/parts/small1.jpg">
              <div class="buytag">
                <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop25"></span></a><br>
                <ul id="drop25" class="f-dropdown" data-dropdown-content>
                  <li><a href="#">+ Favorite</a></li>
                  <li><a href="#">More like this</a></li>
                  <li><a href="#">Remove</a></li>
                </ul>
              </div>
              Porteur rack  - $200
            </div>
          </div>
          <div class="relative small-6 large-3 columns">
            <div class="itemwrapper">
              <img src="/assets/parts/small2.jpg">
              <div class="buytag">
                <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop26"></span></a><br>
                <ul id="drop26" class="f-dropdown" data-dropdown-content>
                  <li><a href="#">+ Favorite</a></li>
                  <li><a href="#">More like this</a></li>
                  <li><a href="#">Remove</a></li>
                </ul>
              </div>
              2011 Truvativ Hosfeller stem - $45
            </div>
          </div>
        <div class="small-6 large-3 columns">
          <div class="itemwrapper">
            <img src="/assets/parts/small3.jpg">
            <div class="buytag">
              <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop27"></span></a><br>
              <ul id="drop27" class="f-dropdown" data-dropdown-content>
                <li><a href="#">+ Favorite</a></li>
                <li><a href="#">More like this</a></li>
                <li><a href="#">Remove</a></li>
              </ul>
            </div>
            Stella Azurra stem - $25
          </div>
        </div>
        <div class="small-6 large-3 columns">
          <div class="itemwrapper">
            <img src="/assets/parts/small4.jpg">
            <div class="buytag">
              <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop28"></span></a><br>
              <ul id="drop28" class="f-dropdown" data-dropdown-content>
                <li><a href="#">+ Favorite</a></li>
                <li><a href="#">More like this</a></li>
                <li><a href="#">Remove</a></li>
              </ul>
            </div>
            SS cassette rear wheel - $70
          </div>
        </div>
        <div class="small-6 large-3 columns">
          <div class="itemwrapper">
            <img src="/assets/parts/small5.jpg">
            <div class="buytag">
              <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop29"></span></a><br>
              <ul id="drop29" class="f-dropdown" data-dropdown-content>
                <li><a href="#">+ Favorite</a></li>
                <li><a href="#">More like this</a></li>
                <li><a href="#">Remove</a></li>
              </ul>
            </div>
            Shimano Clipless Pedal - $20
          </div>
        </div>
        <div class="small-6 large-3 columns">
          <div class="itemwrapper">
            <img src="/assets/parts/small6.jpg">
            <div class="buytag">
              <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop39"></span></a><br>
              <ul id="drop39" class="f-dropdown" data-dropdown-content>
                <li><a href="#">+ Favorite</a></li>
                <li><a href="#">More like this</a></li>
                <li><a href="#">Remove</a></li>
              </ul>
            </div>
            Bontrager Stem - $40
          </div>
        </div>


      </div>
    </div>


<% end %>