<% content_for :body do %>
<div class="template template-home" id="current_template">
    <div class="wrapper">
        <div class="row">
              <div class="small-2 large-6 columns">
                <div class="itemwrapper">
                  <img src="/assets/2/specialized.jpg">
                  <div class="buytag">
                      <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop"></span></a><br>
                      <ul id="drop" class="f-dropdown" data-dropdown-content>
                        <li><a href="#">+ Favorite</a></li>
                        <li><a href="#">More like this</a></li>
                        <li><a href="#">Remove</a></li>
                      </ul>
                  </div>
                </div>
          </div>
          <div class="small-6 large-3 columns">
            <div class="itemwrapper">
            <img src="/assets/1/SRBlack.jpg">
            <div class="buytag">
              <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop"></span></a><br>
              <ul id="drop" class="f-dropdown" data-dropdown-content>
                <li><a href="#">+ Favorite</a></li>
                <li><a href="#">More like this</a></li>
                <li><a href="#">Remove</a></li>
              </ul>
            </div>
            </div>
          </div>
          <div class="relative small-6 large-3 columns">
            <div class="itemwrapper">
            <img src="/assets/1/masonry_items_002.jpg">
            <div class="buytag">
              <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop"></span></a><br>
              <ul id="drop" class="f-dropdown" data-dropdown-content>
                <li><a href="#">+ Favorite</a></li>
                <li><a href="#">More like this</a></li>
                <li><a href="#">Remove</a></li>
              </ul>
            </div>
            </div>
          </div>
        </div>

    </div>
</div>



    <div class="template template-bikes" >
      <div class="wrapper">
        <div class="row">
          <div class="small-2 large-6 columns">
            <div class="itemwrapper">
              <img src="/assets/bikes/medium1.jpg">
              <div class="buytag">
                <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop"></span></a><br>
                <ul id="drop" class="f-dropdown" data-dropdown-content>
                  <li><a href="#">+ Favorite</a></li>
                  <li><a href="#">More like this</a></li>
                  <li><a href="#">Remove</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="small-6 large-3 columns">
            <div class="itemwrapper">
              <img src="/assets/bikes/small1.jpg">
              <div class="buytag">
                <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop"></span></a><br>
                <ul id="drop" class="f-dropdown" data-dropdown-content>
                  <li><a href="#">+ Favorite</a></li>
                  <li><a href="#">More like this</a></li>
                  <li><a href="#">Remove</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="relative small-6 large-3 columns">
            <div class="itemwrapper">
              <img src="/assets/bikes/small3.jpg">
              <div class="buytag">
                <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop"></span></a><br>
                <ul id="drop" class="f-dropdown" data-dropdown-content>
                  <li><a href="#">+ Favorite</a></li>
                  <li><a href="#">More like this</a></li>
                  <li><a href="#">Remove</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="relative small-6 large-3 columns">
            <div class="itemwrapper">
              <img src="/assets/bikes/small4.jpg">
              <div class="buytag">
                <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop"></span></a><br>
                <ul id="drop" class="f-dropdown" data-dropdown-content>
                  <li><a href="#">+ Favorite</a></li>
                  <li><a href="#">More like this</a></li>
                  <li><a href="#">Remove</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="relative small-6 large-6 columns">
            <div class="itemwrapper">
              <img src="/assets/bikes/medium2.jpg">
              <div class="buytag">
                <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop"></span></a><br>
                <ul id="drop" class="f-dropdown" data-dropdown-content>
                  <li><a href="#">+ Favorite</a></li>
                  <li><a href="#">More like this</a></li>
                  <li><a href="#">Remove</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="relative small-6 large-3 columns">
            <div class="itemwrapper">
              <img src="/assets/bikes/small2.jpg">
              <div class="buytag">
                <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop"></span></a><br>
                <ul id="drop" class="f-dropdown" data-dropdown-content>
                  <li><a href="#">+ Favorite</a></li>
                  <li><a href="#">More like this</a></li>
                  <li><a href="#">Remove</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>




    <div class="template template-clothes" >
      <div class="wrapper">
        <div class="row">
          <div class="small-2 large-6 columns">
            <div class="itemwrapper">
              <img src="/assets/clothes/medium1.jpg">
              <div class="buytag">
                <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop"></span></a><br>
                <ul id="drop" class="f-dropdown" data-dropdown-content>
                  <li><a href="#">+ Favorite</a></li>
                  <li><a href="#">More like this</a></li>
                  <li><a href="#">Remove</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="small-6 large-3 columns">
            <div class="itemwrapper">
              <img src="/assets/clothes/small2.jpg">
              <div class="buytag">
                <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop"></span></a><br>
                <ul id="drop" class="f-dropdown" data-dropdown-content>
                  <li><a href="#">+ Favorite</a></li>
                  <li><a href="#">More like this</a></li>
                  <li><a href="#">Remove</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="small-6 large-3 columns">
            <div class="itemwrapper">
              <img src="/assets/clothes/small1.png">
              <div class="buytag">
                <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop"></span></a><br>
                <ul id="drop" class="f-dropdown" data-dropdown-content>
                  <li><a href="#">+ Favorite</a></li>
                  <li><a href="#">More like this</a></li>
                  <li><a href="#">Remove</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="small-6 large-3 columns">
            <div class="itemwrapper">
              <img src="/assets/clothes/small3.jpg">
              <div class="buytag">
                <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop"></span></a><br>
                <ul id="drop" class="f-dropdown" data-dropdown-content>
                  <li><a href="#">+ Favorite</a></li>
                  <li><a href="#">More like this</a></li>
                  <li><a href="#">Remove</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="small-6 large-3 columns">
            <div class="itemwrapper">
              <img src="/assets/clothes/small4.jpg">
              <div class="buytag">
                <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop"></span></a><br>
                <ul id="drop" class="f-dropdown" data-dropdown-content>
                  <li><a href="#">+ Favorite</a></li>
                  <li><a href="#">More like this</a></li>
                  <li><a href="#">Remove</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="small-6 large-3 columns">
            <div class="itemwrapper">
              <img src="/assets/clothes/small5.jpg">
              <div class="buytag">
                <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop"></span></a><br>
                <ul id="drop" class="f-dropdown" data-dropdown-content>
                  <li><a href="#">+ Favorite</a></li>
                  <li><a href="#">More like this</a></li>
                  <li><a href="#">Remove</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="small-6 large-3 columns">
            <div class="itemwrapper">
              <img src="/assets/clothes/small6.jpg">
              <div class="buytag">
                <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop"></span></a><br>
                <ul id="drop" class="f-dropdown" data-dropdown-content>
                  <li><a href="#">+ Favorite</a></li>
                  <li><a href="#">More like this</a></li>
                  <li><a href="#">Remove</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="small-6 large-6 columns">
            <div class="itemwrapper">
              <img src="/assets/clothes/medium2.jpg">
              <div class="buytag">
                <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop"></span></a><br>
                <ul id="drop" class="f-dropdown" data-dropdown-content>
                  <li><a href="#">+ Favorite</a></li>
                  <li><a href="#">More like this</a></li>
                  <li><a href="#">Remove</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="small-6 large-3 columns">
            <div class="itemwrapper">
              <img src="/assets/clothes/small7.jpg">
              <div class="buytag">
                <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop"></span></a><br>
                <ul id="drop" class="f-dropdown" data-dropdown-content>
                  <li><a href="#">+ Favorite</a></li>
                  <li><a href="#">More like this</a></li>
                  <li><a href="#">Remove</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="small-6 large-3 columns">
            <div class="itemwrapper">
              <img src="/assets/clothes/small8.jpg">
              <div class="buytag">
                <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop"></span></a><br>
                <ul id="drop" class="f-dropdown" data-dropdown-content>
                  <li><a href="#">+ Favorite</a></li>
                  <li><a href="#">More like this</a></li>
                  <li><a href="#">Remove</a></li>
                </ul>
              </div>
            </div>
          </div>

        </div>


      </div>
    </div>




    <div class="template template-accessories" >
      <div class="wrapper">
        <div class="row">
          <div class="small-2 large-6 columns">
            <div class="itemwrapper">
              <img src="/assets/accessories/medium1.jpg">
              <div class="buytag">
                <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop"></span></a><br>
                <ul id="drop" class="f-dropdown" data-dropdown-content>
                  <li><a href="#">+ Favorite</a></li>
                  <li><a href="#">More like this</a></li>
                  <li><a href="#">Remove</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="small-6 large-3 columns">
            <div class="itemwrapper">
              <img src="/assets/accessories/small2.jpg">
              <div class="buytag">
                <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop"></span></a><br>
                <ul id="drop" class="f-dropdown" data-dropdown-content>
                  <li><a href="#">+ Favorite</a></li>
                  <li><a href="#">More like this</a></li>
                  <li><a href="#">Remove</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="relative small-6 large-3 columns">
            <div class="itemwrapper">
              <img src="/assets/accessories/small1.jpg">
              <div class="buytag">
                <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop"></span></a><br>
                <ul id="drop" class="f-dropdown" data-dropdown-content>
                  <li><a href="#">+ Favorite</a></li>
                  <li><a href="#">More like this</a></li>
                  <li><a href="#">Remove</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>





    <div class="template template-market" >
      <div class="wrapper">
        <div class="row">
          <div class="small-2 large-6 columns">
            <div class="itemwrapper">
              <img src="/assets/1/SRBlack.jpg">
              <div class="buytag">
                <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop"></span></a><br>
                <ul id="drop" class="f-dropdown" data-dropdown-content>
                  <li><a href="#">+ Favorite</a></li>
                  <li><a href="#">More like this</a></li>
                  <li><a href="#">Remove</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="small-6 large-3 columns">
            <div class="itemwrapper">
              <img src="/assets/1/SRBlack.jpg">
              <div class="buytag">
                <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop"></span></a><br>
                <ul id="drop" class="f-dropdown" data-dropdown-content>
                  <li><a href="#">+ Favorite</a></li>
                  <li><a href="#">More like this</a></li>
                  <li><a href="#">Remove</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="relative small-6 large-3 columns">
            <div class="itemwrapper">
              <img src="/assets/1/masonry_items_002.jpg">
              <div class="buytag">
                <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop"></span></a><br>
                <ul id="drop" class="f-dropdown" data-dropdown-content>
                  <li><a href="#">+ Favorite</a></li>
                  <li><a href="#">More like this</a></li>
                  <li><a href="#">Remove</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>


    <div class="template template-parts" >
      <div class="wrapper">
        <div class="row">
          <div class="small-2 large-6 columns">
            <div class="itemwrapper">
              <img src="/assets/parts/medium1.jpg">
              <div class="buytag">
                <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop"></span></a><br>
                <ul id="drop" class="f-dropdown" data-dropdown-content>
                  <li><a href="#">+ Favorite</a></li>
                  <li><a href="#">More like this</a></li>
                  <li><a href="#">Remove</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="small-6 large-3 columns">
            <div class="itemwrapper">
              <img src="/assets/parts/small1.jpg">
              <div class="buytag">
                <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop"></span></a><br>
                <ul id="drop" class="f-dropdown" data-dropdown-content>
                  <li><a href="#">+ Favorite</a></li>
                  <li><a href="#">More like this</a></li>
                  <li><a href="#">Remove</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="relative small-6 large-3 columns">
            <div class="itemwrapper">
              <img src="/assets/parts/small2.jpg">
              <div class="buytag">
                <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop"></span></a><br>
                <ul id="drop" class="f-dropdown" data-dropdown-content>
                  <li><a href="#">+ Favorite</a></li>
                  <li><a href="#">More like this</a></li>
                  <li><a href="#">Remove</a></li>
                </ul>
              </div>
            </div>
          </div>
        <div class="small-6 large-3 columns">
          <div class="itemwrapper">
            <img src="/assets/parts/small3.jpg">
            <div class="buytag">
              <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop"></span></a><br>
              <ul id="drop" class="f-dropdown" data-dropdown-content>
                <li><a href="#">+ Favorite</a></li>
                <li><a href="#">More like this</a></li>
                <li><a href="#">Remove</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="small-6 large-3 columns">
          <div class="itemwrapper">
            <img src="/assets/parts/small4.jpg">
            <div class="buytag">
              <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop"></span></a><br>
              <ul id="drop" class="f-dropdown" data-dropdown-content>
                <li><a href="#">+ Favorite</a></li>
                <li><a href="#">More like this</a></li>
                <li><a href="#">Remove</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="small-6 large-3 columns">
          <div class="itemwrapper">
            <img src="/assets/parts/small5.jpg">
            <div class="buytag">
              <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop"></span></a><br>
              <ul id="drop" class="f-dropdown" data-dropdown-content>
                <li><a href="#">+ Favorite</a></li>
                <li><a href="#">More like this</a></li>
                <li><a href="#">Remove</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="small-6 large-3 columns">
          <div class="itemwrapper">
            <img src="/assets/parts/small6.jpg">
            <div class="buytag">
              <a href="#" class="tiny button split alert">Buy <span data-dropdown="drop"></span></a><br>
              <ul id="drop" class="f-dropdown" data-dropdown-content>
                <li><a href="#">+ Favorite</a></li>
                <li><a href="#">More like this</a></li>
                <li><a href="#">Remove</a></li>
              </ul>
            </div>
          </div>
        </div>


      </div>
    </div>


<% end %>